*.local
*.pyc

atom/.apm
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/packages
atom/storage

karabiner.d/configuration/karabiner.json
karabiner.d/log

tmux/plugins

vim/autoload
vim/plugged
vim/session
