<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Solarized Themes</string>
	<key>name</key>
	<string>Solarized</string>
	<key>uuid</key>
	<string>7C780260-C79F-4A95-8934-ED4236F27718</string>
</dict>
</plist>
