/**********************************************************************************************************************/

/* Variables to modify the style */

:root {
  --mod-url-font: "PragmataPro";
  --bar-height: 25px;
}

/**********************************************************************************************************************/

/* Remove line above tabs */

.tab-line {
  display: none !important;
}

/**********************************************************************************************************************/

/* Hide titlebar placeholders and buttons */

.titlebar-spacer[type="pre-tabs"] {
  width: 13px !important;
}

.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/**********************************************************************************************************************/

/* Move the "title changed" notification dot on pinned tabs to the upper right and restyle it */

.tab-content[pinned][attention]:not([selected]),
.tab-content[pinned][titlechanged]:not([selected]),
.tab-content[attention]:not([selected]) {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="context-fill" fill-opacity="context-fill-opacity"/></svg>') !important;
  background-position: top 3px right 3px !important;
}

/**********************************************************************************************************************/

/* Let new tab button fill the right side of the tabbar. */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  margin-left: -1px !important;
  /* Make the icon a little smaller */
  padding: 8px 9px 8px 9px !important;
}

/**********************************************************************************************************************/

/* Move menu button to the left */

#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  /* Remove separator before menu button */
  border-inline-start: 0px !important;
  margin-left: -1px !important;
}

/**********************************************************************************************************************/

/* Decrease height of side borders to prevent overlap */

.tabbrowser-tab::before,
.tabbrowser-tab::after,
.titlebar-spacer[type="pre-tabs"] {
  margin-bottom: 1px !important;
}

/**********************************************************************************************************************/

/*
 * Only show tab close button on hover
 * https://www.reddit.com/r/FirefoxCSS/comments/7faicl/any_way_to_hide_close_tab_button_until_you_hover
 */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  transition: opacity 200ms !important;
}

.tabbrowser-tab:not([pinned]):not([hover]) .tab-close-button {
  opacity: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1 !important;
  width: auto !important;
}

/**********************************************************************************************************************/

/* Make tab close icon smaller */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  width: 14px !important;
  height: 14px !important;
}

/**********************************************************************************************************************/

/*
 * Remove shadow on tabs scroll icons
 * https://github.com/Maxmel/dotfiles/blob/81ea2120e2da313431d3417327cf57a8a7fe5b68/userChrome.css#L226
 */

.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  background: none !important;
  border: none !important;
}

/**********************************************************************************************************************/

/* Hide page action button */

#pageActionButton {
  display: none;
}

/**********************************************************************************************************************/

/* Hide url go button */

.urlbar-go-button {
  display: none !important;
}

/**********************************************************************************************************************/

/* Shrink tabbar */

#tabbrowser-tabs {
  --tab-min-height: calc(1px + var(--bar-height)) !important;
  height: var(--bar-height) !important;
}

#TabsToolbar {
  height: var(--bar-height) !important;
}

/* Style urlbar */

#urlbar {
  border: none !important;
  height: 27px !important;
}

#urlbar[focused] {
    box-shadow: 0 0 0 2px rgb(59, 157, 238) !important;
}

#nav-bar {
    padding: 3px 2px 1px 2px !important;
}

/**********************************************************************************************************************/

/* Remove padding to urlbar */

#bookmarks-menu-button {
  padding-right: 0 !important;
}

/**********************************************************************************************************************/

/* Use custom font for urls */

.urlbar-input-box,
.autocomplete-richlistitem .ac-url,
#statuspanel[type="overLink"] {
  font-family: var(--mod-url-font) !important;
}

/* Shrink navbar url font size a little */

.urlbar-input-box {
  font-size: 13px !important;
}

/* Slightly increase statuspanel url font size */

#statuspanel[type="overLink"] {
  font-size: 12px !important;
}

/**********************************************************************************************************************/

/* Only show page actions on hover */

#urlbar-container:not(:hover) #urlbar:not([focused]) #page-action-buttons {
  opacity: 0 !important;
  transition: opacity 150ms ease !important;
  width: 0 !important;
  overflow: hidden;
}

#urlbar-container:hover #page-action-buttons {
  opacity: 1 !important;
  transition: opacity 150ms ease !important;
  width: auto !important;
}

/**********************************************************************************************************************/

/* Use grayscale favicons for not hovered/selected tabs */

.tabbrowser-tab .tab-icon-image {
  filter: grayscale(100%) !important;
  transition: filter 200ms !important;
  margin-top: 0px !important;
}

.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab[selected] .tab-icon-image {
  filter: none !important;
}

.tab-bottom-line {
  margin-left: -28px !important;
  margin-right: -28px !important;
  height: 1px !important;
}

/**********************************************************************************************************************/

/*
 * Disable Mozillas tab jumping nonsense when moving tabs
 * https://github.com/Aris-t2/CustomCSSforFx/blob/d23e223e1464ec2f103746856f419186efc87bf5/classic/css/tabs/tabs_below_navigation_toolbar_fx65_v2.css#L215
 */

#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}

#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}
