@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/**********************************************************************************************************************/

/* Variables to modify the style */

/*
 * Colors from https://flatuicolors.com/palette/de
 */

:root {
  --mod-color-blue: #4b7bec;
  --mod-color-green: #20bf6b;
  --mod-accent-color: var(--mod-color-blue);
  --mod-url-font: "PragmataPro";
}

/**********************************************************************************************************************/

/* Remove line above tabs */

.tab-line {
  display: none !important;
}

/**********************************************************************************************************************/

/* Hide titlebar placeholders and buttons */

.titlebar-placeholder,
#titlebar-buttonbox {
  display: none !important;
}

/**********************************************************************************************************************/

/* Move the "title changed" notification dot on pinned tabs to the upper right and restyle it */

.tabbrowser-tab > .tab-stack > .tab-content[pinned][attention],
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
  /* Context variables do not seem to work in embedded svg files */
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="%234b7bec"/></svg>') !important;
  background-position: top 3px right 3px !important;
}

/**********************************************************************************************************************/

/* Let new tab button fill the right side of the tabbar. */

.tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  margin-left: -1px !important;
  border-radius: 0px !important;
  /* Make the icon a little smaller */
  padding: 9px !important;
}

/**********************************************************************************************************************/

/* Let all tabs tab button fill the right side of the tabbar. */

#alltabs-button {
  padding: 0 !important;
}

#alltabs-button .toolbarbutton-icon {
  border-radius: 0px !important;
}

/**********************************************************************************************************************/

/* Dim not selected tabs and new tab button */

#TabsToolbar #tabbrowser-tabs {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

/**********************************************************************************************************************/

/* Decrease height of side borders to prevent overlap */

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  margin-bottom: 1px !important;
}

/**********************************************************************************************************************/

/*
 * Only show tab close button on hover
 * https://www.reddit.com/r/FirefoxCSS/comments/7faicl/any_way_to_hide_close_tab_button_until_you_hover
 */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  transition: opacity 200ms !important;
}

.tabbrowser-tab:not([pinned]):not([hover]) .tab-close-button {
  opacity: 0 !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1 !important;
}

/**********************************************************************************************************************/

/* Make tab close icon smaller */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  width: 14px !important;
  height: 14px !important;
}

/**********************************************************************************************************************/

/* Change color of tab loading indicator to accent color */

:root {
  --tab-loading-fill: var(--mod-accent-color) !important;
}

.tab-throbber::before {
  fill: var(--mod-accent-color) !important;
  opacity: 1 !important;
}

/**********************************************************************************************************************/

/*
 * Remove shadow on tabs scroll icons
 * https://github.com/Maxmel/dotfiles/blob/81ea2120e2da313431d3417327cf57a8a7fe5b68/userChrome.css#L226
 */

.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  background: none !important;
  border: none !important;
}

/**********************************************************************************************************************/

/* Move menu button to the left */

#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  /* Remove separator before menu button */
  border-inline-start: 0px !important;
}

/**********************************************************************************************************************/

/* Hide page action button */

#pageActionButton {
  display: none;
}

/**********************************************************************************************************************/

/*
 * Change urlbar selection colors
 * https://www.reddit.com/r/FirefoxCSS/comments/7lqhkg/url_bar_highlight
 */

:root {
  --chrome-selection-color: black !important;
  --chrome-selection-background-color: rgb(179, 216, 253) !important;
}

:root:-moz-lwtheme-brighttext {
  --chrome-selection-color: #fff !important;
  --chrome-selection-background-color: #5675b9 !important;
}

/**********************************************************************************************************************/

/* Remove shadows from urlbar */

#urlbar,
#urlbar:hover {
  box-shadow: none !important;
}

/**********************************************************************************************************************/

/* Increase margin of urlbar */

#urlbar,
#main-window #nav-bar #PlacesToolbar {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

/**********************************************************************************************************************/

/* Make focused urlbar border thinner */

#urlbar:hover[focused],
#urlbar[focused] {
  border: 1px solid var(--mod-accent-color) !important;
}

/**********************************************************************************************************************/

/* Use custom font for urls */

.urlbar-input-box,
.autocomplete-richlistitem .ac-url,
statuspanel[type="overLink"] {
  font-family: var(--mod-url-font) !important;
}

/* Slightly increase statuspanel url font size */

statuspanel[type="overLink"] {
  font-size: 13px !important;
}

/**********************************************************************************************************************/

/* Change color of secure connection icon */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon,
#identity-popup[connection^="secure"] .identity-popup-security-content {
  fill: var(--mod-color-green) !important;
}

.identity-popup-connection-secure {
  color: var(--mod-color-green) !important;
}

/**********************************************************************************************************************/

/*
 * Hide the identity label and the separator if the identity is verified.
 * Instead, use blue for the connection icon instead of green to signal that the identity is verified.
 */

/* Hide separator in urlbar */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
#urlbar[pageproxystate="valid"] > #identity-box.extensionPage {
  padding-inline-end: 4px !important;
  margin-inline-end: 4px !important;
  border-inline-end: none !important;
}

/* Hide identity label */

#identity-icon-labels {
  display: none !important;
}

/* Highlight connection icon in blue if identity is verified */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon {
  fill: var(--mod-color-blue) !important;
}

/**********************************************************************************************************************/

/* Only show page actions on hover */

#urlbar-container:not(:hover) #urlbar:not([focused]) #page-action-buttons {
  opacity: 0 !important;
  transition: opacity 150ms ease !important;
}

#urlbar-container:hover #page-action-buttons {
  opacity: 1 !important;
  transition: opacity 150ms ease !important;
}

/**********************************************************************************************************************/
/*
 * The following styles replicate a Safari like GUI and are based on:
 * https://github.com/Isaac-Newt/userChrome-styles/blob/2aa9f7a15b4780914db9a957fcaade72cfd74d5e/Styles/userChromeSafari.css
 */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/**********************************************************************************************************************/

/* Increase navbar height  */

#nav-bar {
  height: 38px !important;
  padding: 0px 5px 0px 75px !important;
}

/**********************************************************************************************************************/

/* Shrink tab bar height  */

:root[uidensity="compact"] #tabbrowser-tabs {
  --tab-min-height: 23px !important;
}

.tabbrowser-tab {
  max-height: 22px !important;
}

#TabsToolbar {
  max-height: 22px !important;
}

/* Adjust new tab button for smaller tabbar height */

.tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  padding: 6px 9px 6px 9px !important;
  margin-bottom: -1px !important;
}

/* Align favicons vertically */

.tabbrowser-tab[pinned] .tab-icon-image {
  margin-top: 0px !important;
}

/* Shrink and align tab overlay icons for smaller tabs */

.tab-icon-overlay {
  width: 14px !important;
  height: 14px !important;
}

.tab-icon-overlay[pinned] {
  margin-top: -6px !important;
  margin-inline-start: -8px !important;
  margin-inline-end: -8px !important;
}

/* Move autocompletion popup closer to navbar */

#PopupAutoCompleteRichResult {
  margin-top: -2px !important;
}

/**********************************************************************************************************************/

/* Hide favicons for all tabs except pinned ones */

.tabbrowser-tab:not([pinned]) .tab-icon-image {
  display: none !important;
}

/**********************************************************************************************************************/

/* Use grayscale favicons for not hovered/selected tabs */

.tabbrowser-tab[pinned] .tab-icon-image {
  filter: grayscale(100%) !important;
  transition: filter 200ms !important;
}

.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab[pinned][selected] .tab-icon-image {
  filter: none !important;
}

/**********************************************************************************************************************/

/* Move tab close button to the left */

.tabbrowser-tab .tab-throbber,
.tabbrowser-tab .tab-icon-image,
.tabbrowser-tab .tab-sharing-icon-overlay,
.tabbrowser-tab .tab-icon-overlay,
.tabbrowser-tab .tab-label-container,
.tabbrowser-tab .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

.tabbrowser-tab .tab-close-button {
  margin-left: -2px !important;
  margin-right: 2px !important;
}

/**********************************************************************************************************************/

/* Move tabs below navbar */

#TabsToolbar {
  -moz-box-ordinal-group: 3;
}

/* Move bookmarks bar between navbar and tabbar */

#PersonalToolbar {
  -moz-box-ordinal-group: 2;
  background: rgb(220, 220, 220) !important;
  border-bottom: 1px solid #b1b1b1 !important;
}

/* Remove border above navbar */

#navigator-toolbox::after {
  display: none !important;
}

/**********************************************************************************************************************/

/* Use full width for tabs */

#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 52px !important;
  max-width: 100% !important;
}

/**********************************************************************************************************************/

/* Center the tab titles */

.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
  margin-top: 0px !important;
}

/**********************************************************************************************************************/

/* Re-add titlebar buttons and center them vertically */

#titlebar-buttonbox {
  display: block !important;
  margin-top: 10px !important;
}

/**********************************************************************************************************************/

/* Coloring */

#urlbar {
  border: 1px solid rgb(186, 185, 187) !important;
}

#nav-bar {
  background: linear-gradient(rgb(236, 235, 237), rgb(222, 221, 223)) !important;
  border-bottom: 1px solid rgb(166, 165, 167) !important;
}

.tab-background[selected] {
  background: linear-gradient(rgb(221, 220, 222), rgb(214, 213, 214)) !important;
}

#TabsToolbar #tabbrowser-tabs {
  background-color: none !important;
  background: linear-gradient(rgb(193, 192, 194), rgb(186, 185, 186)) !important;
  border-bottom: 1px solid rgb(157, 156, 159) !important;
}

/**********************************************************************************************************************/

/*
 * Safari Style urlbar
 * https://userstyles.org/styles/153747/firefox-quantum-57-safari-11-look
 */
#urlbar,
#urlbar:hover {
  background: linear-gradient(to bottom, hsla(0, 0%, 99%, 1), hsla(0, 0%, 95%, 1)) padding-box !important;
  border: 0.5px solid rgb(213, 211, 213) !important;
  border-radius: 4px !important;
  font-size: 13px !important;
  color: rgb(87, 87, 87) !important;
  /* last two box shadows here are transparent counterparts for animating focus ring shadows below */
  box-shadow: inset 0 -0.5px 0px 0px hsla(0, 0%, 70%, 1), inset 0 0.5px 0.5px 0px white,
    0 0 5px 15px rgba(151, 195, 243, 0), inset 0 0 0 0px rgba(151, 195, 243, 0) !important;
}

#urlbar[focused],
#urlbar:hover[focused] {
  color: black !important;
  /* Animated box shadows to recreate the native OS X 10.11 focus-ring effect */
  transition: box-shadow 250ms, border 250ms !important;
  box-shadow: inset 0 -0.5px 0px 0px rgb(168, 205, 245), inset 0 0.5px 0.5px 0px white,
    0 0 0px 2.5px rgba(151, 195, 243, 0.9), inset 0 0 0 0.5px rgba(151, 195, 243, 0.9) !important;
  border: 0.5px solid rgba(136, 178, 220, 0.9) !important;
}

/* Account for the reduced border in the urlbar */

#page-action-buttons .urlbar-icon {
  width: 25px !important;
  height: 25px !important;
}

/* Move the history dropdown button to the right */

.urlbar-history-dropmarker {
  -moz-box-ordinal-group: 8 !important;
}

/**********************************************************************************************************************/

/*
 * Style the tab separators
 * https://userstyles.org/styles/153747/firefox-quantum-57-safari-11-look
 */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  visibility: collapse !important;
}

#TabsToolbar .tab-background {
  margin-left: -1px !important;
  margin-right: 0px !important;
  border-image: linear-gradient(to bottom, rgb(161, 159, 161), rgb(154, 151, 154)) 0% 100% !important;
  border-left: 1px solid !important;
  border-right: 1px solid !important;
}

/**********************************************************************************************************************/

/*
 * Only show full url on focus
 * https://gist.github.com/hensm/f1e28acd25e072acb63867ba6bc7b365
 */

#urlbar {
  -moz-binding: url("bindings.xml#urlbar") !important;
}

#urlbar:not([focused]) .urlbar-input-box {
  text-align: center;
}

/**********************************************************************************************************************/

/*
 * Remove 'dragging tab' margin/padding nonsense
 * https://github.com/Aris-t2/CustomCSSforFx/blob/8a63f3cea254abdfcfaf90de4684a33181775747/classic/css/tabs/tabs_below_navigation_toolbar.css#L214
 */

#TabsToolbar[movingtab] {
  padding-bottom: unset !important;
  max-height: 22px !important;
}

#TabsToolbar[movingtab] > #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

#TabsToolbar[movingtab] + #nav-bar {
  margin-top: unset !important;
}
