/**********************************************************************************************************************/

/* Remove line above tabs */

.tab-line {
  display: none !important;
}

/**********************************************************************************************************************/

/* Hide titlebar placeholders and buttons */

.titlebar-spacer[type="pre-tabs"] {
  width: 13px !important;
}

.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/**********************************************************************************************************************/

/* Move the "title changed" notification dot on pinned tabs to the upper right and restyle it */

.tab-content[pinned][attention]:not([selected]),
.tab-content[pinned][titlechanged]:not([selected]),
.tab-content[attention]:not([selected]) {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="context-fill" fill-opacity="context-fill-opacity"/></svg>') !important;
  background-position: top 3px right 3px !important;
}

/**********************************************************************************************************************/

/* Let new tab button fill the right side of the tabbar. */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  margin-left: -1px !important;
  list-style-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path stroke="%23606060" d="M0,11L22,11 M11,0L11,22"/></svg>') !important;
  border-radius: 0 !important;
}

/**********************************************************************************************************************/

/* Make tab close icon smaller */

.tabbrowser-tab:not([pinned]) .tab-close-button {
  width: 14px !important;
  height: 14px !important;
}

/**********************************************************************************************************************/

/* Remove shadow on tabs scroll icons */

.scrollbutton-up[orient="horizontal"] ~ spacer {
  background: none !important;
}

/* Hide tab scroller buttons */
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down,
toolbarbutton#alltabs-button {
  display: none !important;
}

/**********************************************************************************************************************/

/* Hide page action button */

#pageActionButton {
  display: none;
}

/**********************************************************************************************************************/

/* Hide url go button */

.urlbar-go-button {
  display: none !important;
}

/**********************************************************************************************************************/

/* Shrink tabbar */

.toolbar-items {
  height: 25px !important;
}

#tabbrowser-tabs {
  --tab-min-height: 25px !important;
  height: 25px !important;
}

/* Style urlbar */

#urlbar {
  border: none !important;
  box-shadow: 0 0 0 1px var(--lwt-toolbar-field-border-color, hsla(240, 5%, 5%, 0.25)) !important;
}

#urlbar[focused],
#urlbar-background[focused] {
  border: none !important;
  box-shadow: 0 0 0 2px rgb(59, 157, 238) !important;
}

#nav-bar {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/**********************************************************************************************************************/

/* Use custom font for urls */

.urlbar-input-box,
#statuspanel[type="overLink"] {
  font: inherit !important;
  font-size: 13px !important;
  font-family: PragmataPro !important;
}

/**********************************************************************************************************************/

/* Only show page actions on hover */

:root:not([customizing]) #nav-bar #urlbar-container #page-action-buttons {
  opacity: 0 !important;
  transition: all 250ms ease !important;
  width: 0 !important;
  overflow: hidden;
  pointer-events: none !important;
}

:root:not([customizing]) :hover > #nav-bar #urlbar-container #page-action-buttons {
  opacity: 1 !important;
  width: auto !important;
  pointer-events: auto !important;
}

/**********************************************************************************************************************/

/* Only show navbar buttons on hover */

:root:not([customizing]) #nav-bar toolbarbutton,
:root:not([customizing]) #TabsToolbar toolbarbutton {
  margin-left: -30px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: all 250ms ease !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #TabsToolbar toolbarbutton {
  margin-left: 0 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

:root:not([customizing]) :hover > #nav-bar #PanelUI-button {
  margin-right: 4px !important;
}

/**********************************************************************************************************************/

/* Use grayscale favicons for not hovered/selected tabs */

.tabbrowser-tab .tab-icon-image {
  filter: grayscale(100%) !important;
  transition: filter 200ms !important;
  margin-top: 0px !important;
}

.tabbrowser-tab:hover .tab-icon-image,
.tabbrowser-tab[selected] .tab-icon-image {
  filter: none !important;
}

.tab-bottom-line {
  margin-left: -28px !important;
  margin-right: -28px !important;
  height: 1px !important;
}

/**********************************************************************************************************************/

/* Disable expanding tab drag area */

#tabbrowser-tabs[movingtab] {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}

/**********************************************************************************************************************/

/* 
 * Revert tab throbber
 * https://www.reddit.com/r/FirefoxCSS/comments/71vbds/revert_the_tab_throbber_in_firefox_57/
 */
.tab-throbber[busy]::before {
  background-image: url("chrome://global/skin/icons/loading.png") !important;
  animation: unset !important;
}

.tab-throbber[busy]:not([progress])::before {
  filter: grayscale(100%);
}

/**********************************************************************************************************************/

/* Move tabs below navbar */

.titlebar-buttonbox-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

#titlebar {
  -moz-box-ordinal-group: 2;
  -moz-appearance: none !important;
}

#TabsToolbar .titlebar-spacer {
  display: none;
}

#nav-bar {
  padding-left: 75px !important;
}

/**********************************************************************************************************************/

/* 
 * Use Safari like style
 * https://github.com/ideaweb/firefox-safari-style/blob/master/css/userChrome.css
 */

#navigator-toolbox {
  border-bottom: 1px solid #A6A6A6 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 1px solid #A6A6A6 !important;
  opacity: 1 !important;
}

#tabbrowser-tabpanels,
#TabsToolbar .tabbrowser-tab .tab-background {
  background: transparent !important;
}

#nav-bar {
  background: linear-gradient(to bottom, #E4E4E4 0%, #D6D6D6 100%) !important;
}

#TabsToolbar .toolbar-items {
  background: linear-gradient(to bottom, #C0C0C0 0%, #B7B7B7 100%) !important;
  border-top: 1px solid #B0B0B0;
  overflow: hidden;
}

#TabsToolbar .tabbrowser-tab[selected] {
  background: linear-gradient(to bottom, #D5D5D5 0%, #CCCCCC 100%) !important;
}
