"*":
  core:
    disabledPackages: [
      "archive-view"
      "background-tips"
      "exception-reporting"
      "feedback"
      "image-view"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-mustache"
      "language-perl"
      "language-ruby-on-rails"
      "language-sass"
      "language-toml"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "update-package-dependencies"
      "welcome"
      "indent-guide-improved"
      "auto-detect-indentation"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  "cursor-blink-interval":
    cursorBlinkInterval: 1200
  editor:
    fontSize: 15
    invisibles:
      cr: "↩"
      eol: ""
      space: " "
      tab: "⇥"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softTabs: true
    tabLength: 4
  "highlight-selected":
    lightTheme: true
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui": {}
  "one-light-ui":
    layoutMode: "Compact"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
".c.source":
  editor:
    preferredLineLength: 100
    softTabs: false
".cpp.source":
  editor:
    preferredLineLength: 100
    softTabs: false
".lua.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    softTabs: false
".ruby.source":
  editor:
    tabLength: 2
".shell.source":
  editor:
    tabLength: 2
