@import "ui-variables";

// Variables to define style
@editor-font: "PragmataPro";
@ui-font: "HelveticaNeue-Light";
@font-size: 14px;
@overlay-opacity: 0.5;
@tab-bar-height: 27px;
@editor-padding: 2px;
@line-height: 1.2;

// Setup editor font and size
atom-text-editor {
    font-family: @editor-font;
    font-size: @font-size;
    line-height: @line-height;
}

// Customize UI
.theme-one-dark-ui, .theme-one-light-ui {
    font-family: @ui-font;
    font-size: @font-size - 1px;

    .tab-bar {
        height: @tab-bar-height;
        .tab, .close-icon {
            line-height: @tab-bar-height;
        }
    }
    .editor {
        padding-top: @editor-padding;
    }
}

// Disable blinking cursor
atom-text-editor::shadow .cursors.blink-off .cursor {
    opacity: 1.0;
}

// Make wrap guide and invisible characters slightly transparent
atom-text-editor::shadow .invisible-character,
atom-text-editor::shadow .indent-guide,
.wrap-guide {
    opacity: @overlay-opacity;
}


// Smaller line numbers and preserve height for gutter
atom-text-editor::shadow .line-numbers .line-number {
    font-size: @font-size - 3px;
    line-height: @font-size + 3px;
    vertical-align: middle;
    min-width: 30px;
}

// Enable for ligatures
//atom-text-editor {
//    text-rendering: optimizeLegibility;
//}
