@import "ui-variables";

// Variables to define style
@editor-font: "PragmataPro";
@ui-font: ".SFNSDisplay-Regular", "San Francisco Display", "Cantarell", "Segoe UI";
@editor-font-size: 14px;

@ui-font-size: @editor-font-size * 0.5 + 6;
@line-number-font-size: @editor-font-size * 0.8;
@tab-bar-height: @ui-font-size * 2;
@overlay-opacity: 0.5;
@editor-padding: 2px;
@line-height: 1.2;

// Setup editor font and size
atom-text-editor {
    font-family: @editor-font;
    font-size: @editor-font-size;
    line-height: @line-height;
    text-rendering: optimizeLegibility;
}

// Customize UI
.theme-one-dark-ui, .theme-one-light-ui {
    font-family: @ui-font;
    font-size: @ui-font-size;

    // Shrink tab bar
    .tab-bar {
        height: @tab-bar-height;
        .tab, .close-icon {
            line-height: @tab-bar-height;
        }
    }

    // Small padding on top of editor
    .editor {
        padding-top: @editor-padding;
    }
}

atom-text-editor::shadow {
    // Disable blinking cursor
    .cursors.blink-off .cursor {
        opacity: 1.0;
    }

    // Make wrap guide and invisible characters slightly transparent
    .invisible-character, .indent-guide, .wrap-guide {
        opacity: @overlay-opacity;
    }

    // Smaller line numbers
    .line-numbers .line-number {
        font-size: @line-number-font-size;
        line-height: @editor-font-size * @line-height;
    }
}
